// find root of the repo
params {
  rootDir = java.nio.file.Paths.get("$projectDir/../../../").toAbsolutePath().normalize().toString()
}

// include common settings
includeConfig("${params.rootDir}/nextflow.config")
includeConfig("${params.rootDir}/src/wf_utils/ProfilesHelper.config")
includeConfig("${params.rootDir}/src/wf_utils/labels.config")

manifest {
  name = "czbiohub/tabula-sapiens-v2/process_smartseq2"
  mainScript = "src/tabula_sapiens/process_smartseq2/main.nf"
}