// slurm settings
process.executor = "slurm"
executor.queueSize = 1000
process.queue = "cpu"

// ignore errors
process.errorStrategy = "ignore"

// singularity settings
singularity.runOptions = "-B '${System.getenv('NXF_TEMP')}'"
singularity.pullTimeout = "2h"

// label-based settings
process {
  withLabel: lowmem { memory = 4.Gb }
  withLabel: lowcpu { cpus = 4 }
  withLabel: midmem { memory = 25.Gb }
  withLabel: midcpu { cpus = 4 }
  withLabel: highmem { memory = 300.Gb }
  withLabel: highcpu { cpus = 32 }
  withLabel: gpu { 
    queue = 'gpu'
    memory = 320.Gb
    cpus = 32
    clusterOptions = '--gpus-per-node=1'
    containerOptions = "--nv -B ${System.getenv('NXF_TEMP')}"
  }
}

process {
  withName: '.*concat_process' {
    memory = 1000.GB
  }
  withName: '.*multi_star' {
    memory = 500.GB
    cpus = 28
    containerOptions = "--shm-size=60gb"
  }
}

